{{!-- extraClasses: extra classes to apply to the field
      choices: [{value: "aaa", localData: {foo: "bar"}, localKey: "A Different Key"}] --}}
<div class="field{{#if extraClasses}} {{extraClasses}}{{/if}}">
    <label for="{{edit}}">{{CPLocal label}}</label>
    <span class="flex-pad"></span>
    <select name="{{edit}}">
        {{#if allowBlank}}
            <option value=" " {{#if (equals (deepLookup . edit) "")}}selected{{/if}}></option>
        {{/if}}
        {{!-- Any --}}
        {{#each choices as |choice|}}
            {{#selectOption choice}}
                <option value="{{value}}" {{!-- Select current value --}}
                {{~#if (equals (deepLookup ../.. ../../edit) value)}}
                selected
                {{~/if}}>

                {{~#if ../noTranslateOptions}}
                    {{~value}} 
                {{~else if localData}} {{!-- If we have extra parameters for localization, use those --}}
                    {{~CPLocalParam localKey localData}}
                {{~else}} {{!-- Regular localization - just a key --}}
                    {{~CPLocal localKey}}
                {{~/if}}</option>
            {{/selectOption}}
        {{/each}}
    </select>
</div>