<div class="field">
    <label for="{{path}}">{{CPLocal loc}}</label>
    <span class="flex-pad"></span>
    <select name="{{path}}">
        {{!-- Any --}}
        {{#each choices as |choice|}}
            <option value="{{choice}}" 
            {{~#if (equals (deepLookup .. ../path) choice)}}
             selected
            {{~/if}}>
            {{~#unless noTranslate}}
            {{~CPLocal choice}}
            {{~else}}
            {{~choice}}
            {{~/unless}}</option>
        {{/each}}
    </select>
</div>