<div class="field">
    <label for="{{path}}">{{CPLocal loc}}</label>
    <span class="flex-pad"></span>
    <select name="{{path}}">
        {{#each choices as |choice|}}
            {{!-- TODO: Localise choices --}}
            <option value="{{choice}}" {{#if (equals (deepLookup .. ../path) choice)}}selected{{/if}}>{{choice}}</option>
        {{/each}}
    </select>
</div>