<div class="armor-display">
    {{#each hitLocations as |hitLoc name|}}
    <div class="field armor-segment" style="grid-area: {{name}}">
        {{#if hitLoc.location}}
        <label class="segment-loc" title="{{CPLocal "HitLoc"}}">
            <p class="inactive">{{displayRange hitLoc.location}}</p>
        </label>
        {{/if}}

        <input type="number" class="segment-sp" title="{{CPLocal "SPFull"}}" name="data.coverage.{{name}}.stoppingPower" value="{{hitLoc.stoppingPower}}" {{#unless ../edit}}readonly{{/unless}}>
        <label class="segment-name">{{shortCPLocal name}}</label>
    </div>
    {{/each}}
</div>