{{!-- Actor sheet's combat tab --}}
<div class="combat-tab">
    <section class="combat-rolls">
        <div class="flexrow flexwrap fillwidth">
            <div class="field roll-initiative">
                <label class="fillwidth action">{{CPLocal "Initiative"}}</label>
            </div>
            <div class="field stun-death-save">
                {{!-- Action on label to override pointer --}}
                <label class="fillwidth action">{{CPLocal "StunDeathSave"}}</label>
            </div>
        </div>
    </section>
    
    <section class="armor-section">
        {{!-- TODO: It'd be quite possible to loop through hit locations here, I think. Would work well for other creatures. --}}
        <header>
            <h2>{{CPLocal "Armor"}}</h2>
        </header>

        {{> (template "actor/parts/armor-display") hitLocations = data.hitLocations}}

        <div class="field-list one-col">
            {{#each data.gear.armor}}
            <div class="field item-edit" data-item-id="{{_id}}">
                <div class="field-image" style="background-image: url({{img}})" data-item-id="{{_id}}"></div>
                <label class="name">{{name}}</label>
                <span class="flex-pad"></span>
                <span>
                    <label class="inactive">{{armorSummary data.coverage}}</label>
                </span>
            </div>
            {{/each}}
        </div>
        
    </section>
    <section class="weapons-list">
        <header>
            <h2>{{CPLocal "Weapons"}}</h2>
        </header>
        {{#each data.gear.weapons as |weapon|}}
            <div class="fire-weapon field action" data-item-id="{{weapon._id}}">
                <div class="no-action field-image item-edit" style="background-image: url({{weapon.img}})" data-item-id="{{weapon._id}}"></div>
                <label class="name">{{weapon.name}}</label>
                <span class="flex-pad"></span>
                <span>
                    <div class="field-label inactive">{{#if weapon.data.attackType}}{{weapon.data.attackType}}{{else}}{{weapon.data.weaponType}}{{/if}}</div>
                </span>
            </div>
        {{/each}}
    </section>
</div>