{{!-- Actor sheet's combat tab --}}
{{log this}}
<div class="combat-tab">
    <section class="combat-rolls">
        <div class="flexrow flexwrap fillwidth">
            <div class="field roll-initiative action">
                <label class="field-label fillwidth">{{CPLocal "Initiative"}}</label>
            </div>
            <div class="field stun-death">
                <label class="field-label fillwidth">{{CPLocal "StunDeathSave"}}</label>
            </div>
        </div>
    </section>
    
    <section class="armor-section">
        {{!-- TODO: It'd be quite possible to loop through hit locations here, I think. Would work well for other creatures. --}}
        <header>
            <h2>{{CPLocal "Armor"}}</h2>
        </header>

        <div class="armor-display">
            {{#each data.hitLocations as |hitLoc name|}}
            <div class="armor-segment field" style="grid-area: {{name}}">
                <label class="segment-loc" title="{{CPLocal "HitLoc"}}">
                    <p class="inactive">{{displayRange hitLoc.location}}</p>
                </label>
                {{!-- Wow doing an input really breaks things --}}
                <div class="segment-sp" title="{{CPLocal "SPFull"}}">{{hitLoc.armor}}</div>
                <label class="segment-name">{{shortCPLocal name}}</label>
            </div>
            {{/each}}
        </div>

        {{#each data.gear.armor}}
        <div class="list-item item-edit" data-item-id="{{_id}}">
            <div class="item-image item-roll action" style="background-image: url({{img}})" data-item-id="{{_id}}"></div>
            <div class="field-label name">{{name}}</div>
            <div class="flex-pad"></div>
            <div class="field-label inactive">{{displayArray data.coverage}}</div>
        </div>
        {{/each}}
    </section>
    <section class="weapons-list item-list">
        <header>
            <h2>{{CPLocal "Weapons"}}</h2>
        </header>
        {{#each data.gear.weapons as |weapon|}}
            <div class="field item-edit" data-item-id="{{weapon._id}}">
                <div class="field-image item-roll action" style="background-image: url({{weapon.img}})" data-item-id="{{weapon._id}}"></div>
                <label class="field-label name">{{weapon.name}}</label>
                {{!-- {{#with weapon.data}}
                {{#unless (equals type ../weaponTypes.melee)}}
                    <div class="field-label inactive">{{shotsLeft}}/{{shots}}</div>
                    {{#if ap}}
                        <div class="field-label inactive">{{localize "CYBERPUNK.AP"}}</div>
                    {{/if}}
                {{/unless}}
                <div class="field-label inactive">{{damage}}</div>
                <div class="field-label inactive">{{localize "CYBERPUNK.RoF"}}{{rof}}</div> --}}
                <span class="flex-pad"></span>
                <span>
                    <div class="field-label inactive">{{#if weapon.data.attackType}}{{weapon.data.attackType}}{{else}}{{weapon.data.weaponType}}{{/if}}</div>
                </span>
                {{!-- {{/with}} --}}
            </div>
        {{/each}}
    </section>
</div>