<div class="field-list no-wrap">
    <div class="field">
        <label for="totalCyberCost">{{CPLocal "TotalEBVal"}}</label>
        <input name="totalCyberCost" type="number" value="{{gear.cyberCost}}" readonly>
    </div>
    <div class="field">
        <label for="data.stats.emp.humanity.loss">{{CPLocal "HumanityLoss"}}</label>
        <input class="not-editable" name="data.stats.emp.humanity.loss" type="number" value="{{data.stats.emp.humanity.loss}}" readonly>
    </div>
</div>

{{#if (equals items.length 0)}}
    <div class="inactive">{{CPLocal "DragItemsPrompt"}}</div>
{{/if}}
<div class="field-list">
    {{#each gear.cyberware as |cyber|}}
        <div class="field gear item-edit full-width" data-item-id="{{cyber.id}}">
            <div class="field-image" style="background-image: url({{cyber.img}})" data-item-id="{{cyber.id}}"></div>
            <label>{{cyber.name}}</label>
            <span class="flex-pad"></span>
            {{#with cyber.data.data}}
                <span>{{CPLocal "HumanityLossAbbrev"}}: {{humanityLoss}}</span>
                {{#if cyberwareType}}
                <span>
                    <p class="inactive">{{cyberwareType}}
                        {{~#if cyberwareSubtype~}}
                        ({{cyberwareSubtype}})
                        {{~/if}}</p>
                </span>
                {{/if}}
            {{/with}}
            <span class="item-delete" data-item-id="{{id}}">X</span>
        </div>
    {{/each}}
</div>