{{#if (equals items.length 0)}}
    <div class="inactive">Drag items here to add (for now)</div>
{{/if}}
<div class="field-list">
    {{#each data.gear.weapons as |weapon|}}
        <div class="field gear item-edit" data-item-id="{{weapon._id}}">
            <div class="field-image roll item-roll action" style="background-image: url({{weapon.img}})" data-item-id="{{weapon._id}}"></div>
            <label>{{weapon.name}}</label>
            <span class="flex-pad"></span>
            <span>
                <p class="inactive">{{type}}</p>
            </span>
            {{!-- {{#with weapon.data}}
            {{#unless (equals type ../weaponTypes.melee)}}
                <div class="field-label inactive">{{shotsLeft}}/{{shots}}</div>
                {{#if ap}}
                    <div class="field-label inactive">{{localize "CYBERPUNK.AP"}}</div>
                {{/if}}
            {{/unless}}
            <div class="field-label inactive">{{damage}}</div>
            <div class="field-label inactive">{{localize "CYBERPUNK.RoF"}}{{rof}}</div> --}}
            
            {{!-- {{/with}} --}}
        </div>
    {{/each}}
    {{#each data.gear.armor}}
        <div class="field gear item-edit" data-item-id="{{_id}}">
            <div class="field-image item-roll action" style="background-image: url({{img}})" data-item-id="{{_id}}"></div>
            <label class="name">{{name}}</label>
            <span class="flex-pad"></span>
            <span>
                <label class="inactive">{{type}}</label>
            </span>
        </div>
    {{/each}}
    {{#each data.gear.cyberware}}
        <div class="list-item gear item-edit" data-item-id="{{_id}}">
            <div class="item-image item-roll action" style="background-image: url({{img}})" data-item-id="{{_id}}"></div>
            <div class="field-label name">{{name}}</div>
            <div class="flex-pad"></div>
            <div class="field-label inactive">{{type}}</div>
        </div>
    {{/each}}
    {{#each data.gear.misc}}
        <div class="list-item gear item-edit" data-item-id="{{_id}}">
            <div class="item-image item-roll action" style="background-image: url({{img}})" data-item-id="{{_id}}"></div>
            <div class="field-label name">{{name}}</div>
            <div class="flex-pad"></div>
            <div class="field-label inactive">{{type}}</div>
        </div>
    {{/each}}
</div>