{{#*inline "itemListing"}}
  <div class="field gear item-edit rc-item-delete" data-item-id="{{id}}">
            <div class="field-image roll fire-weapon action" style="background-image: url({{img}})" data-item-id="{{id}}"></div>
            <label>{{name}}</label>
            <span class="flex-pad"></span>
            <span>
                <p class="inactive">{{type}}</p>
            </span>
        </div>
{{/inline}}

<div class="field-list no-wrap">
    <div class="field">
        <label for="system.eurobucks">{{CPLocal "Eurobucks"}}</label>
        <input name="system.eurobucks" type="number" value="{{system.eurobucks}}">
    </div>
    <div class="field">
        <label for="system.carryWeight">{{CPLocal "Weight"}}</label>
        <input class="not-editable" name="system.carryWeight" type="number" value="{{system.carryWeight}}" readonly>
    </div>
</div>

{{#if (equals items.length 0)}}
    <div class="inactive">{{CPLocal "DragItemsPrompt"}}</div>
{{/if}}
<div class="field-list">
    {{#each gearTabItems}}
        {{> itemListing}}
    {{/each}}
</div>