<div class="field fillwidth nogrow">
    <label for="data.eurobucks">{{CPLocal "Eurobucks"}}</label>
    <input name="data.eurobucks" type="number" value="{{data.eurobucks}}">
</div>
{{#if (equals items.length 0)}}
    <div class="inactive">Drag items here to add (for now)</div>
{{/if}}
<div class="field-list">
    {{#each data.gear.weapons as |weapon|}}
        <div class="field gear item-edit" data-item-id="{{weapon._id}}">
            <div class="field-image roll fire-weapon action" style="background-image: url({{weapon.img}})" data-item-id="{{weapon._id}}"></div>
            <label>{{weapon.name}}</label>
            <span class="flex-pad"></span>
            <span>
                <p class="inactive">{{type}}</p>
            </span>
            <span class="item-delete " data-item-id="{{_id}}">X</span>
        </div>
    {{/each}}
    {{#each data.gear.armor}}
        <div class="field gear item-edit" data-item-id="{{_id}}">
            <div class="field-image item-roll action" style="background-image: url({{img}})" data-item-id="{{_id}}"></div>
            <label class="name">{{name}}</label>
            <span class="flex-pad"></span>
            <span>
                <label class="inactive">{{type}}</label>
            </span>
            <span class="item-delete " data-item-id="{{_id}}">X</span>
        </div>
    {{/each}}
    {{#each data.gear.cyberware}}
        <div class="field gear item-edit" data-item-id="{{_id}}">
            <div class="field-image item-roll action" style="background-image: url({{img}})" data-item-id="{{_id}}"></div>
            <label class="name">{{name}}</div>
            <span class="flex-pad"></span>
            <span>
                <label class="inactive">{{type}}</label>
            </span>
            <span class="item-delete " data-item-id="{{_id}}">X</span>
        </div>
    {{/each}}
    {{#each data.gear.misc}}
        <div class="field gear item-edit" data-item-id="{{_id}}">
            <div class="field-image item-roll action" style="background-image: url({{img}})" data-item-id="{{_id}}"></div>
            <label class="name">{{name}}</label>
            <span class="flex-pad"></span>
            <span>
                <label class="inactive">{{type}}</label>
            </span>
            <span class="item-delete " data-item-id="{{_id}}">X</span>
        </div>
    {{/each}}
</div>