<div>
    {{!-- Sheet Tab Navigation --}}
    <nav class="lifepath-tabs tabs" data-group="lifepath">
        <a class="item" data-tab="style">{{CPLocal 'LifepathStyleOrigin'}}</a>
        <a class="item" data-tab="motivations">{{CPLocal 'LifepathMotivations'}}</a>
        <a class="item" data-tab="family">{{CPLocal 'LifepathFamily'}}</a>
        <a class="item" data-tab="events">{{CPLocal 'LifepathEvents'}}</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="content lifepath-section">
        <div class="tab style flexcol" data-group="lifepath" data-tab="style">
            {{#with data.lifepath.personalStyle}}
            {{var "style" "data.lifepath.personalStyle"}}
            <div class="field-list one-col">
                <div class="field">
                    <label for="{{style}}.clothes">{{CPLocal 'LifepathStyleClothes'}}</label>
                    <input name="{{style}}.clothes" type="text" value="{{clothes}}">
                </div>
                <div class="field">
                    <label for="{{style}}.hair">{{CPLocal 'LifepathStyleHair'}}</label>
                    <input name="{{style}}.hair" type="text" value="{{hair}}">
                </div>  
                <div class="field">
                    <label for="{{style}}.affectations">{{CPLocal 'LifepathStyleAffectations'}}</label>
                    <input name="{{style}}.affectations" type="text" value="{{affectations}}">
                </div>
            </div>
            {{/with}}
            {{#with data.lifepath.ethnicity}}
            {{var "ethnicity" "data.lifepath.ethnicity"}}
            <div class="field-list one-col">
                <div class="field">
                    <label for="{{ethnicity}}.origin">{{CPLocal 'LifepathEthnicity'}}</label>
                    <input name="{{ethnicity}}.origin" type="text" value="{{origin}}">
                </div>
                <div class="field">
                    <label for="{{ethnicity}}.language">{{CPLocal 'LifepathLanguage'}}</label>
                    <input name="{{ethnicity}}.language" type="text" value="{{language}}">
                </div>
            </div>
            {{/with}}
        </div>
        <div class="tab motivations flexcol" data-group="lifepath" data-tab="motivations">
            {{#with data.lifepath.personalMotivations}}
            {{var "motives" "data.lifepath.personalMotivations"}}
            <div class="field-list one-col">
                <div class="field">
                    <label for="{{motives}}.traits">{{CPLocal 'LifepathMotivationsTrait'}}</label>
                    <input name="{{motives}}.traits" type="text" value="{{traits}}">
                </div>
                <div class="field">
                    <label for="{{motives}}.valuedPerson">{{CPLocal 'LifepathMotivationsValuedPerson'}}</label>
                    <input name="{{motives}}.valuedPerson" type="text" value="{{valuedPerson}}">
                </div>
                <div class="field">
                    <label for="{{motives}}.valueMost">{{CPLocal 'LifepathMotivationsValueMost'}}</label>
                    <input name="{{motives}}.valueMost" type="text" value="{{valueMost}}">
                </div>
                <div class="field">
                    <label for="{{motives}}.feelAboutPeople">{{CPLocal 'LifepathMotivationsFeelAboutPeople'}}</label>
                    <input name="{{motives}}.feelAboutPeople" type="text" value="{{feelAboutPeople}}">
                </div>
                <div class="field">
                    <label for="{{motives}}.valuedPossession">{{CPLocal 'LifepathMotivationsValuedPossession'}}</label>
                    <input name="{{motives}}.valuedPossession" type="text" value="{{valuedPossession}}">
                </div>
            </div>
            {{/with}}
        </div>
        <div class="tab family flexcol" data-group="lifepath" data-tab="family">
            {{#with data.lifepath.familyBackground}}
            {{var "family" "data.lifepath.familyBackground"}}
            <div>
                <label for="{{family}}.ranking">{{CPLocal 'LifepathFamilyRanking'}}</label>
                <input name="{{family}}.ranking" type="text" value="{{ranking}}">
            </div>
            <div>
                <label for="{{family}}.parents">{{CPLocal 'LifepathFamilyParents'}}</label>
                <input name="{{family}}.parents" type="text" value="{{parents}}">
            </div>
            <div>
                <label for="{{family}}.history">{{CPLocal 'LifepathFamilyBackground'}}</label>
                <textarea class="notes" name="{{family}}.history" placeholder="" row="4">{{history}}</textarea>
            </div>
            <div>
                <div>{{CPLocal 'LifepathFamilySiblings'}}</div>
                <ul class="family-siblings">
                    <li class="sibling-row">
                        <div class="sibling-name-col">{{CPLocal 'LifepathFamilySiblingsName'}}</div>
                        <div class="sibling-remove-col"></div>
                        <div class="sibling-age-col">{{CPLocal 'LifepathFamilySiblingsAge'}}</div>
                        <div class="sibling-gender-col">{{CPLocal 'LifepathFamilySiblingsGender'}}</div>
                        <div class="sibling-feeling-col">{{CPLocal 'LifepathFamilySiblingsFeeling'}}</div>
                    </li>
                    {{#each siblings as |sibling index|}}
                    <li class="sibling-row" data-index="{{key}}">
                        <div class="sibling-name-col">
                            <input type="text" class="sibling-edit-input" data-index="{{index}}" data-property="name" value="{{sibling.name}}">
                        </div>
                        <div class="sibling-remove-col">
                            <span class="remove-sibling remove-button">X</span></div>
                        <div class="sibling-age-col">
                            <select class="sibling-edit-input" data-index="{{index}}" data-property="age" value="{{sibling.age}}">
                                <option value="" {{#if (equals sibling.age '')}}selected{{/if}}></option>
                                <option value="older" {{#if (equals sibling.age 'older')}}selected{{/if}}>{{CPLocal 'LifepathFamilySiblingsAgeOld'}}</option>
                                <option value="younger" {{#if (equals sibling.age 'younger')}}selected{{/if}}>{{CPLocal 'LifepathFamilySiblingsAgeYoung'}}</option>
                                <option value="twin" {{#if (equals sibling.age 'twin')}}selected{{/if}}>{{CPLocal 'LifepathFamilySiblingsAgeTwin'}}</option>
                            </select>
                        </div>
                        <div class="sibling-gender-col">
                            <select class="sibling-edit-input" data-index="{{index}}" data-property="gender" value="{{sibling.gender}}">
                                <option value="" {{#if (equals sibling.gender '')}}selected{{/if}}></option>
                                <option value="brother" {{#if (equals sibling.gender 'brother')}}selected{{/if}}>{{CPLocal 'LifepathFamilyBrother'}}</option>
                                <option value="sister" {{#if (equals sibling.gender 'sister')}}selected{{/if}}>{{CPLocal 'LifepathFamilySister'}}</option>
                                <option value="sib" {{#if (equals sibling.gender 'sib')}}selected{{/if}}>{{CPLocal 'LifepathFamilySibling'}}</option>
                            </select>
                        </div>
                        <div class="sibling-feeling-col">
                            <select class="sibling-edit-input" data-index="{{index}}" data-property="feels" value="{{sibling.feels}}">
                                <option value="" {{#if (equals sibling.feels '')}}selected{{/if}}></option>
                                <option value="neutral" {{#if (equals sibling.feels 'neutral')}}selected{{/if}}>{{CPLocal 'LifepathFamilySiblingsFeelingNeutral'}}</option>
                                <option value="likes" {{#if (equals sibling.feels 'likes')}}selected{{/if}}>{{CPLocal 'LifepathFamilySiblingsFeelingLikes'}}</option>
                                <option value="dislikes" {{#if (equals sibling.feels 'dislikes')}}selected{{/if}}>{{CPLocal 'LifepathFamilySiblingsFeelingDislikes'}}</option>
                                <option value="worships" {{#if (equals sibling.feels 'worships')}}selected{{/if}}>{{CPLocal 'LifepathFamilySiblingsFeelingWorships'}}</option>
                                <option value="hates" {{#if (equals sibling.feels 'hates')}}selected{{/if}}>{{CPLocal 'LifepathFamilySiblingsFeelingHates'}}</option>
                            </select>
                        </div>
                    </li>
                    {{/each}}
                    <li class="flexrow">
                        <div class="flexcol add-sibling add-button">
                            +
                        </div>
                    </li>
                </ul>
            </div>
            {{/with}}
        </div>
        <div class="tab events flexcol" data-group="lifepath" data-tab="events">
            <ul class="lifepath-life-events">
                <li>
                    <div class="lp-year-col">
                        {{CPLocal 'LifepathEventsYear'}}
                    </div>
                    <div class="lp-remove-col"></div>
                    <div class="lp-desc-col">
                        {{CPLocal 'LifepathEventsDesc'}}
                    </div>
                </li>
                {{#each data.lifepath.lifeEvents as |event index|}}
                <li>
                    <div  class="lp-year-col">
                        <input class="update-year" type="number" min="16" data-index="{{index}}" value="{{event.year}}">                        
                    </div>
                    <div class="lp-remove-col">
                       <span class="remove-year remove-button" data-index="{{index}}">X</span>
                    </div>
                    <div class="lp-desc-col">
                        <textarea row="4" class="lp-event-desc" data-index="{{index}}" placeholder="">{{event.description}}</textarea>
                    </div>                    
                </li>
                {{/each}}
                <li class="flexrow">
                    <div class="flexcol add-life-event add-button">
                        +
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>