<div class="field skill">
    <label class="skill-roll action" data-skill-name="{{edit}}">
    {{!-- For groups that specify a translation prefix, eg MartialAikido --}}
    {{~#if translatePrefix~}}
        {{localize (skillRef (concat translatePrefix name))}}
    {{~else~}}
        {{localize (skillRef name)}}
    {{~/if~}}
    </label>
    <span class="flex-pad"></span>
    <span class="chip-toggle">
        <label>
            <div class="{{#if skill.chipped}}inactive{{/if}}">
                {{~#if skill.isSpecial~}}
                    {{CPLocal "Special"}}{{#if skill.stat}} ({{CPLocal (properCase skill.stat)}}){{/if}}
                {{~else if skill.stat~}}
                    {{CPLocal (properCase skill.stat)}}
                {{~/if~}}
            </div>
            <div class="chip-icon {{#unless skill.chipped}}inactive{{/unless}}"></div>
            <input type="checkbox" name="data.skills.{{edit}}.chipped" {{checked skill.chipped}}/>
        </label>
    </span>
    
    {{#if skill.chipped}}
        <input type="number" class="smallnumber nogrow" name="data.skills.{{edit}}.chipValue" value="{{#if skill.chipValue}}{{skill.chipValue}}{{else}}0{{/if}}"/>
    {{else}}
        <input type="number" class="smallnumber nogrow" name="data.skills.{{edit}}.value" value="{{skill.value}}"/>
    {{/if}}
</div>