{{!-- Skills tab contents --}}
{{!-- Search bar --}}
<div class="skill-utils">
    <div class="search-icon"></div>
    <input class="skill-search" name="data.transient.skillFilter" value="{{data.transient.skillFilter}}"></input>
</div>

{{!-- Actual skills --}}
<div class="item-list">
    {{#each skillDisplayList as |skill skillName|}}
        <div class="list-item skill">
            <div class="field-label skill-roll action" data-skill-name="{{skillName}}">{{localize (skillRef skillName)}}</div>
            <div class="flex-pad field-label"></div>
            <div class="chip-toggle">
                <label>
                    <div class="field-label {{#if skill.chipped}}inactive{{/if}}">{{skill.stat}}</div>
                    <div class="chip-icon {{#unless skill.chipped}}inactive{{/unless}}"></div>
                    <input type="checkbox" name="data.skills.{{skillName}}.chipped" {{checked skill.chipped}}/>
                </label>
            </div>
            
            {{#if skill.chipped}}
                <input class="skill-value" name="data.skills.{{skillName}}.chipValue" value="{{#if skill.chipValue}}{{skill.chipValue}}{{else}}0{{/if}}"/>
            {{else}}
                <input class="skill-value" name="data.skills.{{skillName}}.value" value="{{skill.value}}"/>
            {{/if}}
        </div>
    {{/each}}
</div>

{{!-- Stops the skills getting real tall when there's only one or two --}}
<div class="spacer"></div>