<div class="field skill">
    <label class="skill-roll action" data-skill-id="{{skill.id}}">{{skill.name}}</label>
    {{!-- TODO: Add data-item-id for this to work --}}
    <span class="flex-pad item-edit" data-item-id="{{skill.id}}"></span>
    {{#with skill.data.data}}
        <span class="chip-toggle" data-skill-id="{{../skill.id}}">
            <label>
                <div>
                    {{~#if isRoleSkill~}}
                        {{CPLocal "Role"}}
                    {{~/if}}
                    {{~#if stat~}}
                        {{CPLocal (properCase stat)}}
                    {{~/if~}}
                </div>
                <div class="chip-icon {{#unless isChipped}}inactive{{/unless}}"></div>
                <input type="checkbox" data-skill-id="{{../skill.id}}" {{checked isChipped}}/>
            </label>
        </span>

        <input type="number" data-skill-id="{{../skill.id}}" class="skill-level smallnumber nogrow" value="{{#if isChipped}}{{chipLevel}}{{else}}{{level}}{{/if}}"/>
    {{/with}}
</div>