{{!-- Container for all the stats --}}
<div class="stats flexcol">
    <div class="statsrow">
        {{#each data.stats as |stat key|}}
        <div class="field stat">
            <label>{{localize (localizeStat key)}}</label>
            <div class="flexrow">
                <input type="number" name="data.stats.{{key}}.base" value="{{stat.base}}" class="stat-base"/>
                <div class="stat-mod">+</div>
                <input class="stat-temp" type="number" name="data.stats.{{key}}.tempMod" value="{{stat.tempMod}}"/>
            </div>
            <input class="stat-total action stat-roll" data-stat-name="{{key}}" value="{{stat.total}}" readonly>
        </div>
        {{/each}}
    </div>
    
    {{!-- Run, Leap etc. These are below, cos we're a lot less starved for vertical space than horizontal --}}
    {{!-- If I had horizontal space, I'd just slap these against their relevant stats --}}
    <div class="derivedrow">
        {{#with data.stats}}
        <div class="field">
            <label title="{{CPLocal "BTM"}}">{{CPLocal 'BTMShort'}}</label>
            <input class="value not-editable" value="{{data.stats.bt.modifier}}" readonly>
        </div>
        <div class="field">
            <label>{{CPLocal "Carry"}}</label>
            <input class="value not-editable" value="{{data.stats.bt.carry}}" readonly>
        </div>
        {{!-- Tends to be a bigger number than most others --}}
        <div class="field liftstat" style="flex-grow: 4;">
            <label>{{CPLocal "Lift"}}</label>
            <input class="rightborder not-editable" value="{{data.stats.bt.lift}}" readonly>
        </div>
        <div class="field">
            <label>{{CPLocal "Leap"}}</label>
            <input class="not-editable" value="{{data.stats.ma.leap}}" readonly>
        </div>
        <div class="field">
            <label>{{CPLocal "Run"}}</label>
            <input class="rightborder not-editable" value="{{data.stats.ma.run}}" readonly>
        </div>
        {{!-- Humanity is a whole X/Y value, so needs more of the extra space --}}
        <div class="field" style="flex-grow: 6;">
            {{!-- This is only short so the sheet isn't distorted --}}
            <label title={{CPLocal "Humanity"}}>{{CPLocal "HumanityShort"}}</label>
            <input type="text" class="rightborder not-editable" value="{{data.stats.emp.humanity.total}}/{{data.stats.emp.humanity.base}}" readonly>
        </div>
        {{/with}}
    </div>
</div>