<div class="flexrow">
    <div class="roll-image" style="background-image: url({{img}})"></div>
    <h2>{{title}}</h2>
</div>
<p>{{flavor}}</p>
<div class="flexcol">
{{log this}}
{{#each rolls}}
    <div class="flexrow">
        <div>{{name}}:</div>
        <div>{{roll._total}}</div>
    </div>
{{/each}}
</div>