<div class="cyberpunk cyberpunk-card">
    <header>
        <div class="flexrow">
            <div class="roll-image" style="background-image: url({{img}})"></div>
            <h2>{{title}}</h2>
        </div>
        <p class="flavor">{{flavor}}</p>
    </header>
    <div class="dice-tooltip flexcol">
    {{#each rolls}}
        <header class="part-header flexrow">
            <span class="part-formula">{{name}}:</span>
            <span class="part-flavor">{{roll._formula}}</span>
            <span class="part-total {{#if isCrit}}crit {{/if}}{{#if isFumble}}fumble {{/if}}">{{roll._total}}</span>
        </header>
        <div class="dice-tooltip">
        {{#each diceInfo}}
            <section class="tooltip-part">
                <div class="dice">
                    <ol class="dice-rolls">
                    {{#each this.subrolls}}
                        <li class="roll {{this.classes}}">{{{this.result}}}</li>
                    {{/each}}
                    </ol>
                </div>
            </section>
        {{/each}}
        </div>
    {{/each}}
    </div>
</div>