<div class="cyberpunk cyberpunk-card flexcol">
    <h2>{{title}}</h2>
    <div class="field-list one-col">
        <div class="field">
            <span>{{CPLocal "Range"}}: </span>
            <span class="flex-pad">{{CPLocalParam range locals.range}}</span>
        </div>
        <div class="field">
            <span>{{CPLocal "ToHit"}}: </span>
            <span class="flex-pad">{{toHit}}</span>
        </div>
    </div>
    <div class="field-list one-col">
        <div class="field" style="grid-column-end: span 1">
            <span>{{CPLocal "Attack"}}: </span>
            <span>{{attackRoll._total}}</span>
            <span class="flex-pad"></span>
            <span class="roll-results">
                {{#each attackRoll.terms as |term|}}
                    {{#if term.results}}
                        {{#each term.results as |die|}}
                            <span class="roll-result roll die d{{term.faces}}">{{die.result}}</span>
                        {{/each}}
                    {{else}}
                        <span class="roll-result inactive">{{compare term.operator "||" term.number}}</span>
                    {{/if}}
                {{/each}}
            </span>
        </div>
    </div>
    
    
    <div>
        {{!-- "X hit of y fired" Uses "hit" and "fired" fields respectively --}}
        {{!-- They're separate so we can emphasise the hit --}}
        <p><em>{{CPLocalParam "AutofireHitTally" this}}</em> {{CPLocalParam "AutofireFiredTally" this}}</p>
    </div>
    {{#if hit}}
        <h3>{{CPLocal "Damage"}}</h3>
        <div class="damage-tally">
            {{#each areaDamages as |damages areaName|}}
                <div>
                    <label>{{CPLocal areaName}}</label>
                    {{#each damages as |damage|}}
                    <span>{{damage.total}}</span>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    {{else}}
        <h3>{{CPLocal "NoHits"}}</h3>
    {{/if}}
</div>