{{!-- Structural Damage Points (SDP is a terrible name) --}}
<div class="field-list">
    <div class="flexcol fillwidth" style="grid-column-end: span 2" title="{{CPLocal "SDPFull"}}">
        <div class="meter-gauge fillwidth">
            <span style="width: calc(100% * ({{data.sdp.value}}/{{data.sdp.max}}));" class="
            {{#if (compare data.sdp.value "<=" (math data.sdp.max "/" 2))}}
            danger
            {{/if}}"></span>
        </div>
    </div>

    <div class="field">
        <label class="larger" for="data.sdp.value" title="{{CPLocal "SDPFull"}}">{{CPLocal "SDP"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="data.sdp.value" value="{{data.sdp.value}}"> 
            <span class="nogrow">/</span>
            <input type="number" name="data.sdp.max" value="{{data.sdp.max}}">
        </span>
    </div>

    <div class="field">
        <label for="data.sp" title="{{CPLocal "SPFull"}}">{{CPLocal "SP"}}</label>
        <span class="flex-pad"></span>
        <input type="number" class="number nogrow" name="data.sp" value="{{data.sp}}">
        </span>
    </div>
</div>
<div class="field-list">
    {{!-- There's a reason I don't use meter here - it's evil to style, and IE doesn't support it. If anyone playing this is using IE, they're already in the dystopia --}}
    <div class="flexcol fillwidth" style="grid-column-end: span 2">
        <div class="meter-gauge fillwidth">
            <span style="width: calc(100% * ({{data.speed.value}}/{{data.speed.max}}));" class="
            {{#if (compare data.speed.value ">" data.speed.maneuver)}}
            danger
            {{/if}}"></span>
        </div>
    </div>
    <div class="field">
        {{!-- Make larger to indicate a kind of heading almost --}}
        <label class="larger" for="data.speed.value">{{CPLocal "Speed"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="data.speed.value" value="{{data.speed.value}}"> 
            <span class="nogrow">/</span>
            <input type="number" name="data.speed.max" value="{{data.speed.max}}">
            <span class="nogrow">mph</span>
        </span>
    </div>
     <div class="field">
        <label for="data.speed.value">{{CPLocal "Accel"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="data.speed.acceleration" value="{{data.speed.acceleration}}"> 
            <span class="nogrow">{{CPLocal "MPH"}}</span>
        </span>
    </div>

    {{!-- Accel/decel buttons --}}
    <div class="flexrow">
        <div class="field decel"><label class="fillwidth" style="text-align: center; font-size: larger">-</label></div>
        <div class="field accel"><label class="fillwidth" style="text-align: center; font-size: larger">+</label></div>
    </div>
   <div class="field">
       {{!-- This should I guess be maneuver? But safe works a lot better meaningwise --}}
        <label for="data.speed.value">{{CPLocal "Safe"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="data.speed.maneuver" value="{{data.speed.maneuver}}"> 
            <span class="nogrow">{{CPLocal "MPH"}}</span>
        </span>
    </div>
</div>

{{!-- Fuel --}}
<div class="field-list">
    <div class="flexcol fillwidth" style="grid-column-end: span 2">
        <div class="meter-gauge fillwidth">
            <span style="width: calc(100% * ({{data.fuel.value}}/{{data.fuel.max}}));" class="
            {{#if (compare data.fuel.value "<" (math data.fuel.max "/" 3))}}
            danger
            {{/if}}"></span>
        </div>
    </div>
    <div class="field">
        <label class="larger" for="data.speed.value">{{CPLocal "Fuel"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="data.fuel.value" value="{{data.fuel.value}}"> 
            <span class="nogrow">/</span>
            <input type="number" name="data.fuel.max" value="{{data.fuel.max}}">
            <span class="nogrow">{{CPLocal "Gallon"}}</span>
        </span>
    </div>
    {{!-- TODO: This should probably use selectable --}}
     <div class="field">
        <label for="data.speed.value">{{CPLocal "Type"}}</label>
        <span class="flexrow flex-pad">
            <input type="text" name="data.fuel.type" value="{{data.fuel.type}}"> 
        </span>
    </div>
    {{!-- There's a reason I don't use meter here - it's evil to style, and IE doesn't support it. If anyone playing this is using IE, they're already in the dystopia --}}

   <div class="field">
        <label for="data.fuel.efficiency">{{CPLocal "Efficiency"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="data.fuel.efficiency" value="{{data.fuel.efficiency}}"> 
            <span class="nogrow">{{CPLocal "MPG"}}</span>
        </span>
    </div>
</div>

{{!-- Miscellaneous vehicle-only other --}}
<div class="field-list">
    <div class="field">
        <label for="data.passengers">{{CPLocal "Passengers"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="data.passengers" value="{{data.passengers}}"> 
        </span>
    </div>
    <div class="field">
        <label for="data.maneuverability.value">{{CPLocal "ManeuverabilityFull"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="data.maneuverability.value" value="{{data.maneuverability.value}}"> 
        </span>
    </div>
</div>